[template]
keys        = [ "/registry/services/specs/default/app-server" ]
owner       = "nginx"
mode        = "0644"
src         = "app.conf.tmpl"
dest        = "/etc/nginx/sites-enabled/app.conf"
check_cmd   = "/usr/sbin/nginx -t -c /etc/nginx/nginx.conf"
reload_cmd  = "/usr/sbin/service nginx reload"
